<%= config.title %>

<%= config.description %>
<% if (config.reviewers && config.reviewers.length > 0) { %>### Review<% } %>
<% _.forEach(config.reviewers, function(reviewer) { %> - [ ] <%- reviewer %>
<% }); %>

### After Merge


run:

```
git checkout master
git pull
npm version patch
npm publish
```

### note

If npm version is `2.13` or later npm version will likely fail to run postversion script, leaving you with pending commits in your repo.

If this is the case, run `npm run-script postversion` to finish the process.
