<%= config.title %>

<%= config.description %>
<% if (config.reviewers && config.reviewers.length > 0) { %>### Review<% } %>
<% _.forEach(config.reviewers, function(reviewer) { %> - [ ] <%- reviewer %>
<% }); %>

### After Merge

- [ ] [site](https://daptiv.github.io/style-guide) is updated

