
$snippet-border-radius: 3px;
$snippet-padding: 12px;
$snippet-content-background: #f2f0eb;
$snippet-border: 2px solid $color-base-60;
$snippet-src-button-background: $color-base-20;
$snippet-src-button-border-color: $color-base-60;
$snippet-src-button-height: 22px;
$snippet-src-button-border-size: 1px;
$snippet-src-button-container-height: $snippet-src-button-height + (2 * $snippet-src-button-border-size);
