.daptiv-dropdown {
    background: $dropdown-background;
    display: inline-block;
    font: $dropdown-font;
    line-height: $dropdown-item-height;

    .item {
        background: $dropdown-item-background;
        border: 0;
        color: $dropdown-item-text-color;
        display: block;
        height: $dropdown-item-height;
        margin: $dropdown-item-border-size;
        max-width: $dropdown-item-max-width;
        min-width: $dropdown-item-min-width;
        overflow: hidden;
        padding: 0 $dropdown-item-padding;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:focus {
            outline: dotted 2px $dropdown-item-border-color-focus;
        }

        &:not(.selected):hover {
            background: $dropdown-item-background-hover;
            color: $dropdown-item-text-color;
        }

        &.selected {
            color: $dropdown-item-text-color-selected;
        }

        &.disabled {
            background: $dropdown-item-background-disabled;
            color: $dropdown-item-text-color-disabled;
            cursor: default;

            &:hover {
                background: $dropdown-item-background-disabled;
                color: $dropdown-item-text-color-disabled;
            }
        }

        &.alternate {
            background: $dropdown-item-background-alt;

            &.selected {
                background: $dropdown-item-background-alt;
            }

            &.disabled:hover {
                background: $dropdown-item-background-alt;
            }
        }
    }

    .label {
        background: $dropdown-label-background;
        border: 0;
        color: $dropdown-label-text-color;
        cursor: default;
        display: block;
        height: $dropdown-item-height;
        margin: $dropdown-item-border-size;
        max-width: $dropdown-item-max-width;
        min-width: $dropdown-item-min-width;
        outline: none;
        overflow: hidden;
        padding: 0 $dropdown-item-padding;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
