.daptiv-nav {
    @include font-size-larger();
    background: transparent;

    .tab {
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid transparent;

        &.selected {
            border: 0;
            border-bottom: 2px solid $color-base-0;
        }

        &:hover,
        &:active,
        &:focus {
            border: 0;
            border-bottom: 2px solid $color-secondary-light;
        }
    }
}
