$large-button-font-size: 21px;
$large-button-height: 44px;
$large-button-padding: 0 34px;

$large-button-box-shadow-color: rgba(23, 54, 101, 0.8);

input,
button {
    &.large-button {
        -webkit-appearance: none;
        background-color: $color-primary-medium;
        border: 1px solid $color-primary-dark-shadow;
        border-radius: 1px;
        box-shadow: $large-button-box-shadow-color 0 2px 6px 0;
        color: $color-base-0;
        cursor: pointer;
        font-size: $large-button-font-size;
        height: $large-button-height;
        padding: $large-button-padding;
        text-shadow: 0 1px 1px $color-primary-dark-shadow;

        &:focus,
        &:hover {
            background-color: $color-primary-medium-light;
        }

        &[disabled] {
            background-color: $color-base-60;
            cursor: default;
        }

        &:active {
            background-color: $color-primary-dark;
        }
    }
}
