//== Login Page
//
//## Classes Login Page components
@import 'variables';
@import 'component-overrides';


/* http://meyerweb.com/eric/tools/css/reset/  v2.0b1 | 201101  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

html, body {
    height: 100%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    /*content: '';*/
    content: none;
}

/* remember to define visible focus styles! */
a:focus {
    outline: dashed thin;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

strong {
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

body {
    border: 0;
    font-family: $font-family-base;
}

#body {
    height: 100%;
    width: 100%;
}

::-ms-clear {
    display: none;
}

::-webkit-input-placeholder {
    color: $color-text-light;
}

::-moz-placeholder {
    color: $color-text-light;
} /* firefox 19+ */

:-ms-input-placeholder {
    color: $color-text-light;
} /* ie */

input:-moz-placeholder {
    color: $color-text-light;
}

#content-inner {
    background-color: $color-primary-dark;
    background-image: radial-gradient(ellipse farthest-side at center top, $color-primary-medium 0%, $color-primary-dark 100%);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 768px 400px;
    height: calc(100% - #{$login-footer-height});
    min-height: 414px;
    width: 100%;
}
