//== Login Page
//
//## Classes Login Page components
@import 'variables';
@import 'component-overrides';

$content-inner-background-size: 768px 400px;
$content-inner-min-height: 414px;

.content-inner {
    background-color: $color-primary-dark;
    background-image: radial-gradient(ellipse farthest-side at center top, $color-primary-medium 0%, $color-primary-dark 100%);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: $content-inner-background-size;
    height: calc(100% - #{$login-footer-height});
    min-height: $content-inner-min-height;
    width: 100%;
}
