$card-text-weight-bold: 700;
$card-text-weight-semibold: 500;
$card-text-weight-normal: 300;

$card-text-height-xlarge: 1.3;
$card-text-height-larger: 1.2;
$card-text-height-large: 1.1;

$card-border-color: $color-primary-medium-40;
$card-box-shadow-color: $color-primary-light-40-over-white;
$card-background-color: $color-base-0;
$card-height: 80px;
$card-padding: $standard-whitespace-unit * 2;
$card-font-size-small: $font-size-normal - 1;
$card-h-padding: $standard-whitespace-unit * 2;
$card-v-padding: $standard-whitespace-unit;
$card-title-right-padding: 48px;
$card-title-indent: 12px;

$card-status-top-margin: $card-title-indent;
$card-status-border-radius: 1px;
$card-status-border-width: 1px;
$card-status-transparent-border-color: rgba(255, 255, 255, 0);
$card-status-padding: $half-whitespace-unit $card-title-indent;
$card-status-notstarted-background-color: $color-status-notstarted-light;
$card-status-notstarted-border-color: $color-status-notstarted;
$card-status-inprogress-background-color: $color-status-inprogress-light;
$card-status-inprogress-border-color: $color-status-inprogress;
$card-status-onhold-background-color: $color-status-onhold-light;
$card-status-onhold-border-color: $color-status-onhold;
$card-status-complete-background-color: $color-status-complete-light;
$card-status-complete-border-color: $color-status-complete;
$card-status-overdue-background-color: $color-status-overdue-light;
$card-status-overdue-border-color: $color-status-overdue;

$flag-margin-right: -($card-h-padding);
$flag-margin-bottom: $card-v-padding;
$flag-total-top-padding: 14px;
$flag-padding-top: $flag-total-top-padding - $card-v-padding;

$flag-height: 31px;
$flag-width: 47px;
$flag-off-fill-color: #fff;
$flag-off-outline-color: #979797;
$flag-on-fill-color: #f3d8a2;
$flag-on-outline-color: #dfa13c;

$task-list-max-width: 344px;
