.icon-block {
    border: $icon-border;
    border-radius: $icon-border-radius;
    display: inline-block;
    height: $icon-block-height;
    margin: $icon-block-margin;
    padding: $icon-block-padding;
    width: $icon-block-width;

    &:hover {
        background-color: $color-secondary-light;
    }
}
