//== Colors
//
//## Primary colors, gray colors, typography colors

//Primary Colors
@color-dark-blue: #027DD1;
@color-light-blue: #00B4FF;
@color-light-light-blue: #E9F6FD;

//Typography colors
@color-text-white: #FFFFFF;
@color-text-light-blue: #9AD8F8;
@color-text-medium-blue: #00B4FF;

//Black and grayscale colors
@color-black: #333333;
@color-medium-gray: #F2F2F2;
