$fa-font-path: 'fonts';
@import "../bower_components/font-awesome/scss/font-awesome.scss";
@import "../styles/style-guide";
@import "../bower_components/pygments/css/default.css";

$swatch-padding: 5px;
$swatch-height: 60px;
$swatch-line-height: 50px;
$swatch-text-shadow: 1px 1px white, -1px -1px white, -1px 1px white, 1px -1px white;
$swatch-width: 150px;
$swatch-label-height: 30px;
$swatch-margin: 4px;

$snippet-border-radius: 3px;
$snippet-padding: 12px;
$snippet-content-background: #f2f0eb;
$snippet-border: 2px solid #CCC;

$icon-block-bg: #eee;
$icon-block-size: 75px;

.daptiv-grid{
    .column .outline {
        border: 1px solid $color-base-80;
    }
}

.icon-block {
    background-color: $icon-block-bg;
    border-radius: 3px;
    display: inline-block;
    height: $icon-block-size;
    line-height: $icon-block-size;
    text-align: center;
    width: $icon-block-size;
}

.snippet-header {
    border: $snippet-border;
    border-top-left-radius: $snippet-border-radius;
    border-top-right-radius: $snippet-border-radius;
    margin-top: $snippet-border-radius/2;
    padding: $snippet-padding;
}

.snippet-content {
    display: none;
    background-color: $snippet-content-background;
    border-bottom-left-radius: $snippet-border-radius;
    border-bottom-right-radius: $snippet-border-radius;
    border: $snippet-border;
    border-top: 0;
    margin-bottom: $snippet-border-radius/2;
    overflow: scroll;
    padding: $snippet-padding;
}

.snippet-src-button-container {
    height: 24px;
}

.snippet-src-button {
    float: right;
    border: 1px solid #BBB;
    background-color: #FAFAFA;
    height: 22px;
    line-height: normal;
    cursor: pointer;
    &:focus{
        outline: 0;
    }
}

.swatch {
    text-shadow: $swatch-text-shadow;
    font-size: $font-size-larger;
    text-align: center;
    line-height: $swatch-line-height;
}

@mixin swatch-with-label($swatch-color) {
    display: inline-block;
    height: $swatch-height + $swatch-label-height + 2px;
    margin: $swatch-margin;
    vertical-align: top;
    width: $swatch-width;

    label {
        background-color: $color-base-0;
        display: block;
        font-weight: bold;
        height: $swatch-label-height;
        margin: $swatch-margin;
        text-align: center;
        width: $swatch-width;
    }

    .swatch {
        &:before {
            content: "#{$swatch-color}";
        }
        background-color: $swatch-color;
        border-radius: 0.25rem;
        box-shadow: 2px 2px 2px $color-base-50;
        display: block;
        height: $swatch-height;
        padding: $swatch-padding;
        vertical-align: top;
        width: $swatch-width;
    }
}
.labeled-swatch-color-primary-dark {
    @include swatch-with-label($color-primary-dark);
}

.labeled-swatch-color-primary-medium {
    @include swatch-with-label($color-primary-medium);
}

.labeled-swatch-color-primary-medium-light {
    @include swatch-with-label($color-primary-medium-light);
}

.labeled-swatch-color-primary-light {
    @include swatch-with-label($color-primary-light);
}

.labeled-swatch-color-secondary-medium {
    @include swatch-with-label($color-secondary-medium);
}

.labeled-swatch-color-secondary-light {
    @include swatch-with-label($color-secondary-light);
}

.labeled-swatch-color-base-0 {
    @include swatch-with-label($color-base-0);
}

.labeled-swatch-color-base-20 {
    @include swatch-with-label($color-base-20);
}

.labeled-swatch-color-base-30 {
    @include swatch-with-label($color-base-30);
}

.labeled-swatch-color-base-40 {
    @include swatch-with-label($color-base-40);
}

.labeled-swatch-color-base-50 {
    @include swatch-with-label($color-base-50);
}

.labeled-swatch-color-base-60 {
    @include swatch-with-label($color-base-60);
}

.labeled-swatch-color-base-80 {
    @include swatch-with-label($color-base-80);
}

.labeled-swatch-color-base-90 {
    @include swatch-with-label($color-base-90);
}

.labeled-swatch-color-base-100 {
    @include swatch-with-label($color-base-100);
}

.labeled-swatch-color-text-default {
    @include swatch-with-label($color-text-default);
}
.labeled-swatch-color-text-disabled {
    @include swatch-with-label($color-text-disabled);
}
.labeled-swatch-color-text-dark {
    @include swatch-with-label($color-text-dark);
}
.labeled-swatch-color-text-medium {
    @include swatch-with-label($color-text-medium);
}
.labeled-swatch-color-text-light {
    @include swatch-with-label($color-text-light);
}
.labeled-swatch-color-text-white {
    @include swatch-with-label($color-text-white);
}
.labeled-swatch-color-text-accent-light {
    @include swatch-with-label($color-text-accent-light);
}
.labeled-swatch-color-text-accent-dark {
    @include swatch-with-label($color-text-accent-dark);
}

.footer {
    margin: 25px 10px 2px 10px;
}
