//== Layout
//
//## Classes for grid layout
.daptiv-container {
    margin-left: auto;
    margin-right: auto;
}

.daptiv-grid {
    .column {
        display: inline-block;
        padding-left: $grid-gutter-width;
        padding-right: $grid-gutter-width;
        vertical-align: top;
    }
}

.daptiv-one-fourth {
    width: 25%;
}

.daptiv-three-fourths {
    width: 75%;
}

.right-justify {
    text-align:right;
}
