//== Layout
//
//## Classes for grid layout
.block-component {
    display: block;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.daptiv-container {
    margin-left: auto;
    margin-right: auto;
}

.daptiv-header {
    background-image: radial-gradient(ellipse at 50% 2%, $color-primary-medium 4%, $color-primary-dark 99%);
    box-shadow: inset 0 -1px 0 1px rgba($color-primary-dark, 0.48);
}

.daptiv-grid {
    .full-width {
        width: 100%;
    }

    .column {
        display: inline-block;
        padding-left: $grid-gutter-width;
        padding-right: $grid-gutter-width;
        vertical-align: top;

        &.no-wrap {
            white-space: nowrap;
        }

        &.one-fourth {
            width: 25%;
        }

        &.one-fourth-in {
            margin-left: 25%;
        }

        &.three-fourths {
            width: 75%;
        }
    }
}

.right-justify {
    text-align: right;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.inline-block-component {
    display: inline-block;
    width: 100%;
}

.copyright {
    color: $color-base-0;
    display: block;
    font-size: $font-size-base;
    margin: 0;
    padding-top: $copyright-padding-top;
    text-align: center;
    width: 100%;
}

.daptiv-container-bg {
    background-color: $color-primary-dark;
    background-image: radial-gradient(ellipse farthest-side at center top, $color-primary-medium 0%, $color-primary-dark 100%);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: $daptiv-container-bg-bg-size;
    height: $daptiv-container-bg-height;
    min-height: $daptiv-container-bg-min-height;
    width: $daptiv-container-bg-width;
}

.footer {
    background-image: radial-gradient(50% 99%, $color-primary-dark 0%, $color-primary-dark-shadow 100%);
    box-shadow: inset 0 3px 3px 0 $color-primary-dark-shadow;
    height: $footer-height;
    width: 100%;
}

.static-header {
    padding-bottom: $static-header-padding-bottom;
    padding-top: $static-header-padding-top;
    width: $static-header-width;
}

.separator {
    background-image: linear-gradient(-180deg, rgba($color-secondary-light, 0) 0%, $color-secondary-light 51%, rgba($color-secondary-light, 0) 97%);
    box-shadow: 1px 0 2px 0 rgba($color-primary-dark-shadow, 0.5);
    height: $separator-height;
    vertical-align: bottom;
    width: $separator-width;
}
