//== Layout
//
//## Variables for grid layout
$grid-gutter-width: $standard-gutter-width;
//TODO remove this
//$copyright-width: 328px;
$copyright-padding-top: 24px;


$footer-height: 100% !default;

//TODO: find a better name
$footer-breakpoint-margin: 69px;

//TODO: refactor these
$login-footer-height: 143px !default;
$standard-footer-breakpoint: 599px;
$header-width: 320px !default;
