
$button-bg: $color-primary-dark;
$button-bg-disabled: $color-base-40;
$button-border: 1px solid $color-base-40;
$button-border-radius: 1px;

$button-color: $color-base-20;
$button-color-hover: $color-primary-medium;
$button-color-active: $color-primary-medium-light;
$button-color-disabled: $color-base-80;

$button-font: $font-size-normal $font-family-base;
$button-height: 24px;
$button-pad-h: 10px;
