//TODO JSB These colours must be changed after merge of new colour scheme

$button-bg: $color-dark-blue;
$button-border: 1px solid $color-medium-light-gray;
$button-border-radius: 1px;

$button-color: $color-light-gray;
$button-color-hover: $color-medium-blue;
$button-color-active: $color-dark-dark-gray;

$button-font: $font-size-normal $font-family-base;
$button-height: 24px;
$button-pad-h: 10px;
