$daptiv-logo-default-height: 29px;
$daptiv-logo-default-width: 82px;

$daptiv-logo-medium-height: 38px;
$daptiv-logo-medium-width: 109px;

$daptiv-logo-large-height: 78px;
$daptiv-logo-large-width: 240px;

$iso-badge-height: 55px;
$iso-badge-padding-top: 24px;
$iso-badge-width: 116px;
