$standard-box-shadow-blur-radius: $standard-whitespace-unit;
$standard-box-shadow-spread: 0;
$standard-box-shadow-x-offset: -1px;
$standard-box-shadow-y-offset: 1px;
$standard-shadow-color: $color-base-300;
