@mixin font-face($font-family-name, $font-family-url, $weight: normal) {
    font-family: $font-family-name;
    src: url($font-family-url + '.woff2') format('woff2'),
         url($font-family-url + '.woff') format('woff'),
         url($font-family-url + '.ttf')  format('truetype');
    font-weight: $weight;
    font-style: normal;
}

@mixin center-vertical() {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
