//== Nav/Subnav
//
//## Styles for Tab Navigation and Sub-Navigation

.daptiv-nav {
    background: $nav-bg;
    font: $nav-font;
    height: $nav-height;
    line-height: $nav-height;
    width: 100%;

    .tab {
        @include nav-tab;
    }

    &.empty {
        height: $nav-height-empty;
        line-height: $nav-height-empty;
    }
}

/*
    Sub Navigation tab
*/
.daptiv-subnav {
    background: $subnav-bg;
    font: $subnav-font;
    height: $subnav-height;
    line-height: $subnav-height;
    width: 100%;

    .tab {
        @include nav-link;
    }
}
