@mixin nav-tab() {
    border: solid $nav-border-width $nav-bg;
    color: $nav-font-color;
    display: inline-block;
    line-height: $nav-height - $nav-border-width - $nav-border-width;
    padding: 0 $nav-tab-h-pad;
    text-decoration: none;

    & > * {
        vertical-align: middle;
    }

    &:not(.selected):hover {
        color: $nav-font-color-hover;
    }

    &:not(.selected):active {
        background: $nav-bg;
        color: $nav-font-color-active;
    }

    &.selected {
        background: $nav-tab-selected-bg;
        border: solid $nav-border-width $nav-tab-selected-bg;
    }

    &.selected:active {
        background: $nav-tab-selected-bg;
    }

    // Keep this after .selected
    &:focus {
        border: dotted $nav-border-width $nav-border-color-focus;
        outline: none;
    }
}

@mixin nav-link() {
    color: $subnav-font-color;
    padding: 0 $subnav-tab-h-pad;
    text-decoration: none;

    & > * {
        vertical-align: middle;
    }

    &:focus {
        outline: dotted 2px $nav-border-color-focus;
    }

    &:not(.selected):hover {
        color: $subnav-font-color-hover;
    }

    &.selected {
        color: $subnav-tab-selected-color;
    }

    &.disabled {
        color: $subnav-tab-disabled-color;
        cursor: default;

        &:hover {
            color: $subnav-tab-disabled-color;
        }
    }

    &.menu {

        &::after {
            @extend .fa;

            content: $fa-var-caret-down;
            font-size: $icon-size-small;
            margin-left: $half-whitespace-unit;
        }
    }
}
