//== Nav/Subnav
//
//## Styles for Tab Navigation and Sub-Navigation

.daptiv-nav {
    background: $nav-bg;
    font: $nav-font;
    height: $nav-height;
    line-height: $nav-height;
    width: 100%;

    .tab {
        border: solid $nav-border-width $nav-bg;
        color: $nav-font-color;
        display: inline-block;
        line-height: $nav-height - $nav-border-width - $nav-border-width;
        padding: 0 $nav-tab-h-pad;
        text-decoration: none;

        & > * {
            vertical-align: middle;
        }

        &:not(.selected):hover {
            color: $nav-font-color-hover;
        }

        &.selected {
            background: $nav-tab-selected-bg;
            border: solid $nav-border-width $nav-tab-selected-bg;
        }

        // Keep this after .selected
        &:focus {
            border: dotted $nav-border-width $nav-border-color-focus;
            outline: none;
        }
    }
}

/*
    Sub Navigation tab
*/
.daptiv-subnav {
    background: $subnav-bg;
    font: $subnav-font;
    height: $subnav-height;
    line-height: $subnav-height;
    width: 100%;

    .tab {
        @include link-tab;
    }
}
