
$button-bg: $color-primary-dark;
$button-bg-hover: $color-primary-medium;
$button-bg-active: $color-primary-medium-light;
$button-bg-alternate: $color-base-700;
$button-bg-alternate-hover: $color-base-600;
$button-bg-alternate-active: $color-base-500;
$button-bg-disabled: $color-base-300;
$button-border: 1px solid $color-primary-dark-700;
$button-border-radius: 1px;

$button-color: $color-base-100;
$button-color-disabled: $color-base-700;

$button-font: $font-size-medium $font-family-base;
$button-height: 32px;
$button-pad-h: 10px;
$button-padding: 0 $button-pad-h;

$button-large-height: 44px;
$button-large-pad-h: 34px;
$button-large-padding: 0 $button-large-pad-h;
