$swatch-padding: 5px;
$swatch-height: 110px;
$swatch-line-height: 100px;
$swatch-text-shadow: 1px 1px $color-base-0, -1px -1px $color-base-0, -1px 1px $color-base-0, 1px -1px $color-base-0;
$swatch-width: 220px;
$swatch-label-height: 30px;
$swatch-margin: 4px;
