//== Panel
//
//## styles for Panel

.daptiv-panel {
    background-color: $color-base-0;
    border: 1px solid $color-base-60;
    display: block;

    .title {
        border-bottom: 1px solid $color-secondary-medium;
        color: $color-text-dark;
        font-size: $font-size-large;
        height: $panel-title-height;
        line-height: $panel-title-height;
        padding: 0 $panel-gutter-width;
        vertical-align: middle;
    }

    .content {
        padding: $panel-gutter-width;
    }
}

