$standard-line-height: 28px;
$dropdown-font: $font-size-normal $font-family-base;
$dropdown-bg: $color-medium-gray;

$dropdown-item-border-size: $border-width-base;
$dropdown-item-height: $standard-line-height;
$dropdown-item-max-width: 300px;
$dropdown-item-min-width: 150px;
$dropdown-item-padding: $standard-whitespace-unit;
