$dropdown-font: $font-size-normal $font-family-base;
$dropdown-bg: $color-base-50;

$dropdown-item-border-size: $border-width-base;
$dropdown-item-border-color-focus: $color-primary-light;
$dropdown-item-height: 28px;
$dropdown-item-max-width: 300px;
$dropdown-item-min-width: 150px;
$dropdown-item-padding: $standard-whitespace-unit;
