@mixin icon-small($position, $margin-position, $content) {
    &:#{$position} {
        @extend .fa;
        content: $content;
        font-size: $icon-size-small;
        #{$margin-position}: 3px;
        position: relative;
        top: 1px;
    }
}

@mixin icon-block-with-size($content, $size) {
    &:after {
        @extend .fa;
        content: $content;
        font-size: $size;
        text-align: center;
        vertical-align: middle;
    }
}

@mixin icon-small-block($content) {
    @include icon-block-with-size($content, $icon-size-small);
}
