.icon {
    &.previous {
        @include icon-small(before, right, $fa-var-angle-double-left);
    }

    &.next {
        @include icon-small(after, left, $fa-var-angle-double-right);
    }

    &.calendar {
        @include icon-small-block($fa-var-calendar);
    }

    &.flag {
        @include icon-small-block($fa-var-flag-o);
    }

    &.flag-filled {
        @include icon-small-block($fa-var-flag);
    }

    &.hamburger {
        @include icon-small-block($fa-var-bars);
    }

    &.list {
        @include icon-small-block($fa-var-list-ul);
    }

    &.menu {
        @include icon-small(after, left, $fa-var-caret-down);
    }

    &.search {
        @include icon-small-block($fa-var-search);
    }

    &.settings {
        @include icon-small-block($fa-var-cog);
    }

    &.help {
        @include icon-small-block($fa-var-question);
    }

    &.user {
        @include icon-small-block($fa-var-user);
    }

    &.exclamation-triangle {
        @include icon-small(before, right, $fa-var-exclamation-triangle);
    }

    &.hand-stop {
        @include icon-small(before, right, $fa-var-hand-paper-o);
    }

    &.thumbs-up {
        @include icon-small(before, right, $fa-var-thumbs-up);
    }

    &.thumbs-down {
        @include icon-small(before, right, $fa-var-thumbs-down);
    }

    &.external-link {
        @include icon-small-block($fa-var-external-link);
    }

    // sizing of icons
    &.small:after {
        font-size: $icon-size-small;
    }

    &.medium:after {
        font-size: $icon-size-medium;
    }

    &.large:after {
        font-size: $icon-size-large;
    }

    &.close {
        @include icon-small-block($fa-var-times);
    }

    &.circle {
        &:after {
            background-color: $color-base-100;
            border: 1px solid $color-base-100;
            border-radius: 50%;
            content: '';
            display: inline-block;
            height: $icon-size-xsmall;
            line-height: $icon-size-xsmall;
            vertical-align: middle;
            width: $icon-size-xsmall;
        }
    }
}
