<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">

        <title>
            Components &middot; Style Guide
        </title>


        <link rel="stylesheet" id="site-theme" href="/style-guide/docs.min.css">

        <!-- Favicons -->
        <link rel="apple-touch-icon-precomposed" href="/style-guide/img/apple-touch-icon-precomposed.png">
        <link rel="icon" href="/style-guide/favicon.ico">
    </head>
    <body>

    <header class="docs-header daptiv-grid daptiv-header">
        <em class="daptiv-logo column size-default fill-height"></em>
        <nav class="daptiv-nav column">
            <a class="tab selected" href="/style-guide">Guide</a><!--
            --><a class="tab " href="/style-guide/stats">Stats</a><!--
            --><a class="tab" href="https://github.com/daptiv/style-guide" target="_blank"><i class="fa fa-github-alt"></i> GitHub</a><!--
            --><a class="tab" href="https://github.com/daptiv/style-guide/blob/master/README.md#install" target="_blank"><i class=" fa fa-external-link"></i> Install</a>
        </nav>
    </header>

    <div class="daptiv-container">
        <div class="content-area daptiv-grid daptiv-slider">
    
    <div class="docs-side-menu daptiv-side-bar column one-fourth">
        <select name="theme-selector" class="theme-selector" onChange="changeTheme(this.value)">
            <option value=""> Default theme </option>
            <option value="teammember" onClick="changeTheme(/style-guide/themes/docs-teammember-theme.css)">Teammember theme</option>
        </select>
      <nav class="daptiv-side-menu">
  <a class="daptiv-side-menu-item " href="/style-guide">Scaffolding</a>
  <a class="daptiv-side-menu-item " href="/style-guide/animations/">Animations</a>
  <a class="daptiv-side-menu-item " href="/style-guide/identity/">Identity</a>
  <a class="daptiv-side-menu-item " href="/style-guide/colors/">Colors</a>
  <a class="daptiv-side-menu-item " href="/style-guide/layout/">Layout</a>
  <a class="daptiv-side-menu-item " href="/style-guide/nav/">Navigation</a>
  <a class="daptiv-side-menu-item selected" href="/style-guide/components/">Components</a>
  <a class="daptiv-side-menu-item " href="/style-guide/iconography/">Iconography</a>
</nav>

  </div><!--
  --><!--
--><div  class="column one-fourth-in three-fourths" >
        <h1 class="page-title">
            Components
        </h1>
        <div class="markdown-body">
            <p>This section provides styles for different types of layouts.</p>

<ul id="markdown-toc">
  <li><a href="#panel" id="markdown-toc-panel">Panel</a></li>
  <li><a href="#buttons" id="markdown-toc-buttons">Buttons</a></li>
  <li><a href="#card" id="markdown-toc-card">Card</a></li>
  <li><a href="#drop-down-list" id="markdown-toc-drop-down-list">Drop-down list</a>    <ul>
      <li><a href="#closed" id="markdown-toc-closed">Closed</a></li>
      <li><a href="#open" id="markdown-toc-open">Open</a></li>
    </ul>
  </li>
  <li><a href="#loading-indicator" id="markdown-toc-loading-indicator">Loading Indicator</a></li>
  <li><a href="#side-bar" id="markdown-toc-side-bar">Side-Bar</a></li>
  <li><a href="#side-menu" id="markdown-toc-side-menu">Side-Menu</a></li>
</ul>

<h2 id="panel">Panel</h2>

<p>Panel is a quick, easy way to display content with a title.</p>

<div class="snippet">
<div class="snippet-src-button-container">
<button type="button" class="snippet-src-button" title="Show Source" onclick="var s = this.parentElement.parentElement.querySelector('.snippet-content').style; var visible = (s.display === 'block'); s.display = visible ? 'none' : 'block';this.innerText= (visible ? 'Show' : 'Hide') + ' Source';">Show Source</button>
</div>
<div class="snippet-header">
<div class="daptiv-panel">
    <div class="title">Title of Panel</div>
    <div class="content">
        This is the content section.
        <div>
            Things to consider:
            <ul>
                <li>When to use a panel</li>
                <li>Why you need a panel</li>
                <li>When not to use a panel</li>
            </ul>
        </div>
    </div>
</div>
</div>
<div class="snippet-content">
<div class="highlight"><pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;daptiv-panel&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;title&quot;</span><span class="nt">&gt;</span>Title of Panel<span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;content&quot;</span><span class="nt">&gt;</span>
        This is the content section.
        <span class="nt">&lt;div&gt;</span>
            Things to consider:
            <span class="nt">&lt;ul&gt;</span>
                <span class="nt">&lt;li&gt;</span>When to use a panel<span class="nt">&lt;/li&gt;</span>
                <span class="nt">&lt;li&gt;</span>Why you need a panel<span class="nt">&lt;/li&gt;</span>
                <span class="nt">&lt;li&gt;</span>When not to use a panel<span class="nt">&lt;/li&gt;</span>
            <span class="nt">&lt;/ul&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></div>
</div>
</div>

<p><br /></p>

<h2 id="buttons">Buttons</h2>

<div class="snippet">
<div class="snippet-src-button-container">
<button type="button" class="snippet-src-button" title="Show Source" onclick="var s = this.parentElement.parentElement.querySelector('.snippet-content').style; var visible = (s.display === 'block'); s.display = visible ? 'none' : 'block';this.innerText= (visible ? 'Show' : 'Hide') + ' Source';">Show Source</button>
</div>
<div class="snippet-header">
<div>
    <button class="daptiv-button">Default</button>&nbsp;&nbsp;
    <button class="daptiv-button alternate">Alternate</button>&nbsp;&nbsp;
    <button class="daptiv-button" disabled="disabled">Disabled</button>
</div>
</div>
<div class="snippet-content">
<div class="highlight"><pre><span class="nt">&lt;div&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;daptiv-button&quot;</span><span class="nt">&gt;</span>Default<span class="nt">&lt;/button&gt;</span><span class="ni">&amp;nbsp;&amp;nbsp;</span>
    <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;daptiv-button alternate&quot;</span><span class="nt">&gt;</span>Alternate<span class="nt">&lt;/button&gt;</span><span class="ni">&amp;nbsp;&amp;nbsp;</span>
    <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;daptiv-button&quot;</span> <span class="na">disabled=</span><span class="s">&quot;disabled&quot;</span><span class="nt">&gt;</span>Disabled<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></div>
</div>
</div>

<h2 id="card">Card</h2>

<p>Card for use in card lists</p>

<div class="snippet">
<div class="snippet-src-button-container">
<button type="button" class="snippet-src-button" title="Show Source" onclick="var s = this.parentElement.parentElement.querySelector('.snippet-content').style; var visible = (s.display === 'block'); s.display = visible ? 'none' : 'block';this.innerText= (visible ? 'Show' : 'Hide') + ' Source';">Show Source</button>
</div>
<div class="snippet-header">
<div class="card">
    <section class="flex-row">
        <section class="flex-column">
            <div class="item-title block-component">
                <span class="item-number">1.2.3.4.5</span>
                <span class="name" onclick="this.innerHTML = 'A really long name is now on this card that will be really awesome'">Some Thing</span>
            </div>

            <div class="related-title block-component" onclick="this.innerHTML = 'A really long name is now on this card that will be really awesome'">1; Related Thing</div>
        </section>
        <flag class="flag">
            <!-- IE11 fix for issue: https://github.com/angular/angular/issues/6327
                Operating on classes doesn't work with SVG elements in IE 11 #6327 -->
            <span class="on" onclick="this.classList.toggle('on'); this.classList.toggle('off')">
                <svg class="image" viewbox="0 0 46 32">
                    <path d="M2.5,.5 L45.5,0.5 L45.5,27.5 L2.5,27.5 L12,14 L2.5,0.5 M0,32"></path>
                </svg>
            </span>
        </flag>
    </section>
    <footer class="small end block-component">CurrentStatus</footer>
</div>
</div>
<div class="snippet-content">
<div class="highlight"><pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;card&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">&quot;flex-row&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">&quot;flex-column&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;item-title block-component&quot;</span><span class="nt">&gt;</span>
                <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;item-number&quot;</span><span class="nt">&gt;</span>1.2.3.4.5<span class="nt">&lt;/span&gt;</span>
                <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;name&quot;</span> <span class="na">onclick=</span><span class="s">&quot;this.innerHTML = &#39;A really long name is now on this card that will be really awesome&#39;&quot;</span><span class="nt">&gt;</span>Some Thing<span class="nt">&lt;/span&gt;</span>
            <span class="nt">&lt;/div&gt;</span>

            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;related-title block-component&quot;</span> <span class="na">onclick=</span><span class="s">&quot;this.innerHTML = &#39;A really long name is now on this card that will be really awesome&#39;&quot;</span><span class="nt">&gt;</span>1; Related Thing<span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;/section&gt;</span>
        <span class="nt">&lt;flag</span> <span class="na">class=</span><span class="s">&quot;flag&quot;</span><span class="nt">&gt;</span>
            <span class="c">&lt;!-- IE11 fix for issue: https://github.com/angular/angular/issues/6327</span>
<span class="c">                Operating on classes doesn&#39;t work with SVG elements in IE 11 #6327 --&gt;</span>
            <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;on&quot;</span> <span class="na">onclick=</span><span class="s">&quot;this.classList.toggle(&#39;on&#39;); this.classList.toggle(&#39;off&#39;)&quot;</span><span class="nt">&gt;</span>
                <span class="nt">&lt;svg</span> <span class="na">class=</span><span class="s">&quot;image&quot;</span> <span class="na">viewBox=</span><span class="s">&quot;0 0 46 32&quot;</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;path</span> <span class="na">d=</span><span class="s">&quot;M2.5,.5 L45.5,0.5 L45.5,27.5 L2.5,27.5 L12,14 L2.5,0.5 M0,32&quot;</span><span class="nt">&gt;&lt;/path&gt;</span>
                <span class="nt">&lt;/svg&gt;</span>
            <span class="nt">&lt;/span&gt;</span>
        <span class="nt">&lt;/flag&gt;</span>
    <span class="nt">&lt;/section&gt;</span>
    <span class="nt">&lt;footer</span> <span class="na">class=</span><span class="s">&quot;small end block-component&quot;</span><span class="nt">&gt;</span>CurrentStatus<span class="nt">&lt;/footer&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></div>
</div>
</div>

<h2 id="drop-down-list">Drop-down list</h2>
<p>Used for drop-down lists<br /></p>

<h3 id="closed">Closed</h3>

<div class="snippet">
<div class="snippet-src-button-container">
<button type="button" class="snippet-src-button" title="Show Source" onclick="var s = this.parentElement.parentElement.querySelector('.snippet-content').style; var visible = (s.display === 'block'); s.display = visible ? 'none' : 'block';this.innerText= (visible ? 'Show' : 'Hide') + ' Source';">Show Source</button>
</div>
<div class="snippet-header">
<div class="daptiv-drop-down-list">
    <a class="item current" href="#" onclick="return false;"><i class="icon list"></i>
    <span class="title">Item 1</span><i class="icon menu"></i></a>
</div>
</div>
<div class="snippet-content">
<div class="highlight"><pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;daptiv-drop-down-list&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">&quot;item current&quot;</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">onclick=</span><span class="s">&quot;return false;&quot;</span><span class="nt">&gt;&lt;i</span> <span class="na">class=</span><span class="s">&quot;icon list&quot;</span><span class="nt">&gt;&lt;/i&gt;</span>
    <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;title&quot;</span><span class="nt">&gt;</span>Item 1<span class="nt">&lt;/span&gt;&lt;i</span> <span class="na">class=</span><span class="s">&quot;icon menu&quot;</span><span class="nt">&gt;&lt;/i&gt;&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></div>
</div>
</div>

<h3 id="open">Open</h3>

<div class="snippet">
<div class="snippet-src-button-container">
<button type="button" class="snippet-src-button" title="Show Source" onclick="var s = this.parentElement.parentElement.querySelector('.snippet-content').style; var visible = (s.display === 'block'); s.display = visible ? 'none' : 'block';this.innerText= (visible ? 'Show' : 'Hide') + ' Source';">Show Source</button>
</div>
<div class="snippet-header">
<div class="daptiv-drop-down-list docs-open-dropdown open">
    <a class="item current" href="#" onclick="return false;"><i class="icon list"></i><span class="title">Item 1</span><i class="icon menu"></i></a>
    <div class="content">
        <a class="item selected" href="#" onclick="return false;"><i class="icon list"></i><span class="title">Item 1</span></a>
        <a class="item" href="#" onclick="return false;"><i class="icon calendar"></i><span class="title">Item 2</span></a>
        <a class="item" href="#" onclick="return false;"><i class="icon flag"></i><span class="title">Item 3</span></a>
    </div>
    <br />
    <br />
    <br />
</div>
</div>
<div class="snippet-content">
<div class="highlight"><pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;daptiv-drop-down-list docs-open-dropdown open&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">&quot;item current&quot;</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">onclick=</span><span class="s">&quot;return false;&quot;</span><span class="nt">&gt;&lt;i</span> <span class="na">class=</span><span class="s">&quot;icon list&quot;</span><span class="nt">&gt;&lt;/i&gt;&lt;span</span> <span class="na">class=</span><span class="s">&quot;title&quot;</span><span class="nt">&gt;</span>Item 1<span class="nt">&lt;/span&gt;&lt;i</span> <span class="na">class=</span><span class="s">&quot;icon menu&quot;</span><span class="nt">&gt;&lt;/i&gt;&lt;/a&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;content&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">&quot;item selected&quot;</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">onclick=</span><span class="s">&quot;return false;&quot;</span><span class="nt">&gt;&lt;i</span> <span class="na">class=</span><span class="s">&quot;icon list&quot;</span><span class="nt">&gt;&lt;/i&gt;&lt;span</span> <span class="na">class=</span><span class="s">&quot;title&quot;</span><span class="nt">&gt;</span>Item 1<span class="nt">&lt;/span&gt;&lt;/a&gt;</span>
        <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">&quot;item&quot;</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">onclick=</span><span class="s">&quot;return false;&quot;</span><span class="nt">&gt;&lt;i</span> <span class="na">class=</span><span class="s">&quot;icon calendar&quot;</span><span class="nt">&gt;&lt;/i&gt;&lt;span</span> <span class="na">class=</span><span class="s">&quot;title&quot;</span><span class="nt">&gt;</span>Item 2<span class="nt">&lt;/span&gt;&lt;/a&gt;</span>
        <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">&quot;item&quot;</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">onclick=</span><span class="s">&quot;return false;&quot;</span><span class="nt">&gt;&lt;i</span> <span class="na">class=</span><span class="s">&quot;icon flag&quot;</span><span class="nt">&gt;&lt;/i&gt;&lt;span</span> <span class="na">class=</span><span class="s">&quot;title&quot;</span><span class="nt">&gt;</span>Item 3<span class="nt">&lt;/span&gt;&lt;/a&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;br</span> <span class="nt">/&gt;</span>
    <span class="nt">&lt;br</span> <span class="nt">/&gt;</span>
    <span class="nt">&lt;br</span> <span class="nt">/&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></div>
</div>
</div>
<p><br /></p>

<h2 id="loading-indicator">Loading Indicator</h2>
<p>Used while waiting for system response<br /></p>

<div class="snippet">
<div class="snippet-src-button-container">
<button type="button" class="snippet-src-button" title="Show Source" onclick="var s = this.parentElement.parentElement.querySelector('.snippet-content').style; var visible = (s.display === 'block'); s.display = visible ? 'none' : 'block';this.innerText= (visible ? 'Show' : 'Hide') + ' Source';">Show Source</button>
</div>
<div class="snippet-header">
<br /><br /><br />
<div class="daptiv-loading">
    <span></span><span></span><span></span>
</div>
</div>
<div class="snippet-content">
<div class="highlight"><pre><span class="nt">&lt;br</span> <span class="nt">/&gt;&lt;br</span> <span class="nt">/&gt;&lt;br</span> <span class="nt">/&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;daptiv-loading&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;span&gt;&lt;/span&gt;&lt;span&gt;&lt;/span&gt;&lt;span&gt;&lt;/span&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></div>
</div>
</div>

<h2 id="side-bar">Side-Bar</h2>
<p>Used for side bars</p>
<div class="snippet">
<div class="snippet-src-button-container">
<button type="button" class="snippet-src-button" title="Show Source" onclick="var s = this.parentElement.parentElement.querySelector('.snippet-content').style; var visible = (s.display === 'block'); s.display = visible ? 'none' : 'block';this.innerText= (visible ? 'Show' : 'Hide') + ' Source';">Show Source</button>
</div>
<div class="snippet-header">
<div class="example-flex-column-container daptiv-slider initial">
    <div class="example-left-column"><button onclick="var sidebar = this.parentNode.parentNode.parentNode.querySelector('.daptiv-slider'); sidebar.classList.toggle('closed', !sidebar.classList.toggle('open'))">Toggle Side-Bar</button>
    <br />
    Aliqua stumptown accusamus trust fund swag kogi. Lomo artisan normcore shabby chic ugh irure sriracha. Whatever consequat cillum id 8-bit. Four dollar toast meh qui, meditation adipisicing occaecat deserunt elit gastropub messenger bag echo park twee exercitation roof party offal. Direct trade hammock mlkshk YOLO, asymmetrical iPhone tousled VHS swag normcore. Chicharrones gastropub waistcoat, elit disrupt heirloom magna. Occaecat four loko fashion axe non hoodie, qui elit chia microdosing roof party.
    </div>
    <div class="daptiv-side-bar initial">
        <nav class="daptiv-side-menu">
            <a class="daptiv-side-menu-item" href="#" onclick="return false;">Home</a>
            <a class="selected daptiv-side-menu-item" href="#" onclick="return false;">Selected</a>
            <a class="daptiv-side-menu-item" href="#" onclick="return false;">About</a>
            <a class="daptiv-side-menu-item" href="#" onclick="return false;">Contact</a>
        </nav>
    </div>
</div>
</div>
<div class="snippet-content">
<div class="highlight"><pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;example-flex-column-container daptiv-slider initial&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;example-left-column&quot;</span><span class="nt">&gt;&lt;button</span> <span class="na">onclick=</span><span class="s">&quot;var sidebar = this.parentNode.parentNode.parentNode.querySelector(&#39;.daptiv-slider&#39;); sidebar.classList.toggle(&#39;closed&#39;, !sidebar.classList.toggle(&#39;open&#39;))&quot;</span><span class="nt">&gt;</span>Toggle Side-Bar<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;br/&gt;</span>
    Aliqua stumptown accusamus trust fund swag kogi. Lomo artisan normcore shabby chic ugh irure sriracha. Whatever consequat cillum id 8-bit. Four dollar toast meh qui, meditation adipisicing occaecat deserunt elit gastropub messenger bag echo park twee exercitation roof party offal. Direct trade hammock mlkshk YOLO, asymmetrical iPhone tousled VHS swag normcore. Chicharrones gastropub waistcoat, elit disrupt heirloom magna. Occaecat four loko fashion axe non hoodie, qui elit chia microdosing roof party.
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;daptiv-side-bar initial&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;nav</span> <span class="na">class=</span><span class="s">&quot;daptiv-side-menu&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">&quot;daptiv-side-menu-item&quot;</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">onclick=</span><span class="s">&quot;return false;&quot;</span><span class="nt">&gt;</span>Home<span class="nt">&lt;/a&gt;</span>
            <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">&quot;selected daptiv-side-menu-item&quot;</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">onclick=</span><span class="s">&quot;return false;&quot;</span><span class="nt">&gt;</span>Selected<span class="nt">&lt;/a&gt;</span>
            <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">&quot;daptiv-side-menu-item&quot;</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">onclick=</span><span class="s">&quot;return false;&quot;</span><span class="nt">&gt;</span>About<span class="nt">&lt;/a&gt;</span>
            <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">&quot;daptiv-side-menu-item&quot;</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">onclick=</span><span class="s">&quot;return false;&quot;</span><span class="nt">&gt;</span>Contact<span class="nt">&lt;/a&gt;</span>
        <span class="nt">&lt;/nav&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></div>
</div>
</div>
<p><br /></p>

<h2 id="side-menu">Side-Menu</h2>
<p>Used for right side menu</p>
<div class="snippet">
<div class="snippet-src-button-container">
<button type="button" class="snippet-src-button" title="Show Source" onclick="var s = this.parentElement.parentElement.querySelector('.snippet-content').style; var visible = (s.display === 'block'); s.display = visible ? 'none' : 'block';this.innerText= (visible ? 'Show' : 'Hide') + ' Source';">Show Source</button>
</div>
<div class="snippet-header">
<nav class="daptiv-side-bar daptiv-side-menu">
    <a class="daptiv-side-menu-readonly" href="#" onclick="return false;" tabindex="-1">Read Only</a>
    <hr class="daptiv-side-menu-divider" />
    <a class="daptiv-side-menu-item" href="#" onclick="return false;">Home</a>
    <a class="selected daptiv-side-menu-item" href="#" onclick="return false;">Selected</a>
    <a class="daptiv-side-menu-item" href="#" onclick="return false;">About</a>
    <a class="daptiv-side-menu-item" href="#" onclick="return false;">Contact</a>
</nav>
</div>
<div class="snippet-content">
<div class="highlight"><pre><span class="nt">&lt;nav</span> <span class="na">class=</span><span class="s">&quot;daptiv-side-bar daptiv-side-menu&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">&quot;daptiv-side-menu-readonly&quot;</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">onclick=</span><span class="s">&quot;return false;&quot;</span> <span class="na">tabIndex=</span><span class="s">&quot;-1&quot;</span><span class="nt">&gt;</span>Read Only<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;hr</span> <span class="na">class=</span><span class="s">&quot;daptiv-side-menu-divider&quot;</span> <span class="nt">/&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">&quot;daptiv-side-menu-item&quot;</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">onclick=</span><span class="s">&quot;return false;&quot;</span><span class="nt">&gt;</span>Home<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">&quot;selected daptiv-side-menu-item&quot;</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">onclick=</span><span class="s">&quot;return false;&quot;</span><span class="nt">&gt;</span>Selected<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">&quot;daptiv-side-menu-item&quot;</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">onclick=</span><span class="s">&quot;return false;&quot;</span><span class="nt">&gt;</span>About<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">&quot;daptiv-side-menu-item&quot;</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">onclick=</span><span class="s">&quot;return false;&quot;</span><span class="nt">&gt;</span>Contact<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/nav&gt;</span>
</pre></div>
</div>
</div>
<p><br /></p>

        </div>
    </div>

</div>

<script>
    var changeTheme = function(theme) {
        var theme_url = !theme ? "/style-guide/docs.min.css"
                                : "/style-guide/themes/docs-" + theme + "-theme.min.css";
        var link = document.getElementById('site-theme');
        link.href = theme_url;
        localStorage.theme = theme;
    }
    if (localStorage.theme) {
        document.querySelector('[name=theme-selector]').value = 'teammember';
        changeTheme(localStorage.theme);
    }
</script>



        <footer class="footer">
            Copyright Changepoint 2016.<br>
            Created and maintained by the Daptiv team at Changepoint. <strong>Current version is 0.10.42</strong>
        </footer>
    </div>

    </body>
</html>
