//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$custom-fonts-path: '../fonts';
$font-fallback: Arial, Helvetica, sans-serif;
$font-family-base: "museo-sans", $font-fallback;

// Font Sizes
//
// Font sizes are paired with their standard and bold font weight
// Define mixins for font sizes
$font-size-base:   12px;
$font-size-base-weight: 500;
$font-size-base-weight-bold: 700;
$font-size-base-weight-light: 300;
$font-size-normal: $font-size-base;

$font-size-medium:  14px;
$font-size-medium-weight: 500;
$font-size-medium-weight-bold: 700;

$font-size-large: 16px;
$font-size-large-weight: 300;
$font-size-large-weight-bold: 500;

$font-size-larger: 18px;
$font-size-larger-weight: 300;
$font-size-larger-weight-bold: 500;

$font-size-xlarge: 21px;
$font-size-xlarge-weight: 300;
$font-size-xlarge-weight-bold: 500;

$font-size-xlarger: 28px;
$font-size-xlarger-weight: 300;
$font-size-xlarger-weight-bold: 500;
