//== Nav/Subnav
//
//## Variables for Tab Navigation and Sub-Navigation

$nav-bg: $color-primary-dark;
$nav-font-color: $color-text-white;
$nav-font-color-active: $color-text-accent-dark;
$nav-font-color-hover: $color-text-accent-light;
$nav-border-width: 2px;
$nav-border-color-focus: $color-primary-light;
$nav-height: 38px;
$nav-height-empty: 1px;
$nav-tab-h-pad: 14px;
$nav-tab-selected-bg: $color-primary-medium;
$nav-tab-selected-border-color: $color-base-0;

$subnav-bg: $color-base-0;
$subnav-font: $font-size-normal $font-family-base;
$subnav-font-color: $color-text-link;
$subnav-font-color-hover: $color-text-accent-medium;
$subnav-height: $nav-height;
$subnav-tab-h-pad: $nav-tab-h-pad;
$subnav-tab-selected-color: $nav-tab-selected-bg;
$subnav-tab-disabled-color: $color-text-disabled;
