$icon-block-bg: $color-base-30;
$icon-block-height: 30px;
$icon-block-margin: 10px;
$icon-block-padding: 5px;
$icon-block-width: 100px;
$icon-border: 1px solid $color-primary-medium;
$icon-border-radius: 3px;
