
@import "site-styles/swatch/styles";
@import "site-styles/snippet/styles";
@import "site-styles/icon/styles";

.daptiv-grid {
    .column .outline {
        border: 1px solid $color-base-80;
    }
}

.theme-selector {
    border: 1px solid #ddd;
    border-radius: 0;
    font-size: 14px;
    height: 30px;
    margin-top: 15px;
    width: 100%;
}

.docs-header.daptiv-header {
    height: 48px;

    .daptiv-nav {
        vertical-align: bottom;
        width: calc(100% - 126px);
    }
}

.docs-open-dropdown {
    height: 48px;
    line-height: 48px;
}

.docs-side-menu {
    position: fixed;
}

.margin-bottom-medium {
    margin-bottom: 10px;
}

.footer {
    margin: 25px 10px 2px 10px;
}

.example-flex-column-container {
    display: flex;
    height: 400px;
    margin: -14px;

    .example-left-column {
        flex-shrink: 20;
        padding: 15px;
    }
}
