@import "../styles/style-guide.scss";
@import "../bower_components/pygments/css/default.css";

$swatch-padding: 5px;
$swatch-width-height: 90px;
$swatch-label-height: 30px;

.swatch-with-label {
    display:inline-block;
    width: $swatch-width-height;
    height: $swatch-width-height + $swatch-label-height + 2px;
    vertical-align: top;
    margin: 4px;

    label{
        background-color:white;
        width:$swatch-width-height;
        display:block;
        height: $swatch-label-height;
        font-size: 1.2em;
        margin: 4px;
        text-align: center;
        font-weight: bold;
    }
    .swatch {
        display:block;
        width: $swatch-width-height;
        height: $swatch-width-height;
        border-radius: 0.25rem;
        padding:$swatch-padding ;
        vertical-align:top;
        box-shadow: 2px 2px 2px $color-medium-gray;
    }
}

.swatch-dark-blue {
    background-color: $color-dark-blue
};

.swatch-medium-dark-blue {
    background-color: $color-medium-dark-blue
};

.swatch-medium-blue {
    background-color: $color-medium-blue
};

.swatch-medium-light-blue {
    background-color: $color-medium-light-blue
};

.swatch-light-blue {
    background-color: $color-light-blue
};

.swatch-text-medium-blue {
    background-color: $color-text-medium-blue;
}

.swatch-text-medium-dark-blue {
    background-color: $color-text-medium-dark-blue;
}

.swatch-text-black {
    background-color: $color-text-black;
}

.swatch-text-white {
    background-color: $color-text-white;
}

.swatch-black {
    background-color: $color-black;
}

.swatch-dark-dark-gray {
    background-color: $color-dark-dark-gray;
}

.swatch-dark-gray {
    background-color: $color-dark-gray;
}

.swatch-medium-dark-gray {
    background-color: $color-medium-dark-gray;
}

.swatch-medium-gray {
    background-color: $color-medium-gray;
}

.swatch-medium-light-gray {
    background-color: $color-medium-light-gray;
}

.swatch-light-medium-gray {
    background-color: $color-light-medium-gray;
}
.swatch-light-gray {
    background-color: $color-light-gray;
}
.swatch-white {
    background-color: $color-white;
}
