$fa-font-path: 'fonts';
@import "../bower_components/font-awesome/scss/font-awesome.scss";
@import "../styles/style-guide";
@import "../bower_components/pygments/css/default.css";

$swatch-padding: 5px;
$swatch-width-height: 90px;
$swatch-label-height: 30px;
$swatch-margin: 4px;

$snippet-border-radius: 3px;
$snippet-padding: 12px;
$snippet-content-background: #f2f0eb;
$snippet-border: 2px solid #CCC;

$icon-block-bg: #eee;
$icon-block-size: 75px;

.icon-block {
    background-color: $icon-block-bg;
    border-radius: 3px;
    display: inline-block;
    height: $icon-block-size;
    line-height: $icon-block-size;
    text-align: center;
    width: $icon-block-size;
}

.snippet-header {
    border: $snippet-border;
    border-top-left-radius: $snippet-border-radius;
    border-top-right-radius: $snippet-border-radius;
    margin-top: $snippet-border-radius/2;
    padding: $snippet-padding;
}

.snippet-content {
    display: none;
    background-color: $snippet-content-background;
    border-bottom-left-radius: $snippet-border-radius;
    border-bottom-right-radius: $snippet-border-radius;
    border: $snippet-border;
    border-top: 0;
    margin-bottom: $snippet-border-radius/2;
    overflow: scroll;
    padding: $snippet-padding;
}

.snippet-src-button-container {
    height: 24px;
}

.snippet-src-button {
    float: right;
    border: 1px solid #BBB;
    background-color: #FAFAFA;
    height: 22px;
    line-height: normal;
    cursor: pointer;
    &:focus{
        outline: 0;
    }
}

.swatch-with-label {
    display: inline-block;
    height: $swatch-width-height + $swatch-label-height + 2px;
    margin: $swatch-margin;
    vertical-align: top;
    width: $swatch-width-height;

    label {
        background-color: $color-base-0;
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        height: $swatch-label-height;
        margin: $swatch-margin;
        text-align: center;
        width: $swatch-width-height;
    }

    .swatch {
        border-radius: 0.25rem;
        box-shadow: 2px 2px 2px $color-base-50;
        display: block;
        height: $swatch-width-height;
        padding: $swatch-padding;
        vertical-align: top;
        width: $swatch-width-height;
    }
}

.swatch-primary-dark {
    background-color: $color-primary-dark;
}
.swatch-primary-medium {
    background-color: $color-primary-medium;
}
.swatch-primary-medium-light {
    background-color: $color-primary-medium-light;
}
.swatch-primary-light {
    background-color: $color-primary-light;
}

.swatch-secondary-medium {
    background-color: $color-secondary-medium;
}
.swatch-secondary-light {
    background-color: $color-secondary-light;
}

.swatch-base-100 {
    background-color: $color-base-100;
}
.swatch-base-90 {
    background-color: $color-base-90;
}
.swatch-base-80 {
    background-color: $color-base-80;
}
.swatch-base-60 {
    background-color: $color-base-60;
}
.swatch-base-50 {
    background-color: $color-base-50;
}
.swatch-base-40 {
    background-color: $color-base-40;
}
.swatch-base-30 {
    background-color: $color-base-30;
}
.swatch-base-20 {
    background-color: $color-base-20;
}
.swatch-base-0 {
    background-color: $color-base-0;
}

.swatch-text-dark {
    background-color: $color-text-dark;
}
.swatch-text-medium {
    background-color: $color-text-medium;
}
.swatch-text-medium-light {
    background-color: $color-text-medium-light;
}
.swatch-text-light {
    background-color: $color-text-light;
}

.footer {
    margin: 25px 10px 2px 10px;
}