$fa-font-path: 'fonts';
@import "../bower_components/font-awesome/scss/font-awesome.scss";
@import "../styles/style-guide";
@import "../bower_components/pygments/css/default.css";

$swatch-padding: 5px;
$swatch-width-height: 90px;
$swatch-label-height: 30px;
$swatch-margin: 4px;

$snippet-border-radius: 3px;
$snippet-padding: 12px;
$snippet-content-background: #f2f0eb;
$snippet-border: 2px solid #CCC;

.snippet-header {
    border-top-left-radius: $snippet-border-radius;
    border-top-right-radius: $snippet-border-radius;
    border: $snippet-border;
    margin-top: $snippet-border-radius/2;
    padding: $snippet-padding;
}
.snippet-content {
    display: none;
    background-color: $snippet-content-background;
    border-bottom-left-radius: $snippet-border-radius;
    border-bottom-right-radius: $snippet-border-radius;
    border: $snippet-border;
    border-top: 0;
    margin-bottom: $snippet-border-radius/2;
    overflow: scroll;
    padding: $snippet-padding;
}
.snippet-src-button-container {
    height: 24px;
}
.snippet-src-button {
    float: right;
    border: 1px solid #BBB;
    background-color: #FAFAFA;
    height: 22px;
    line-height: normal;
    cursor: pointer;
    &:focus{
        outline: 0;
    }
}
.swatch-with-label {
    display: inline-block;
    height: $swatch-width-height + $swatch-label-height + 2px;
    margin: $swatch-margin;
    vertical-align: top;
    width: $swatch-width-height;

    label {
        background-color: $color-white;
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        height: $swatch-label-height;
        margin: $swatch-margin;
        text-align: center;
        width: $swatch-width-height;
    }

    .swatch {
        border-radius: 0.25rem;
        box-shadow: 2px 2px 2px $color-medium-gray;
        display: block;
        height: $swatch-width-height;
        padding: $swatch-padding;
        vertical-align: top;
        width: $swatch-width-height;
    }
}

.swatch-dark-blue {
    background-color: $color-dark-blue;
};

.swatch-medium-dark-blue {
    background-color: $color-medium-dark-blue;
};

.swatch-medium-blue {
    background-color: $color-medium-blue;
};

.swatch-medium-light-blue {
    background-color: $color-medium-light-blue;
};

.swatch-light-blue {
    background-color: $color-light-blue;
};

.swatch-text-medium-blue {
    background-color: $color-text-medium-blue;
}

.swatch-text-medium-dark-blue {
    background-color: $color-text-medium-dark-blue;
}

.swatch-text-black {
    background-color: $color-text-black;
}

.swatch-text-white {
    background-color: $color-text-white;
}

.swatch-black {
    background-color: $color-black;
}

.swatch-dark-dark-gray {
    background-color: $color-dark-dark-gray;
}

.swatch-dark-gray {
    background-color: $color-dark-gray;
}

.swatch-medium-dark-gray {
    background-color: $color-medium-dark-gray;
}

.swatch-medium-gray {
    background-color: $color-medium-gray;
}

.swatch-medium-light-gray {
    background-color: $color-medium-light-gray;
}

.swatch-light-medium-gray {
    background-color: $color-light-medium-gray;
}

.swatch-light-gray {
    background-color: $color-light-gray;
}

.swatch-white {
    background-color: $color-white;
}
