//== Tooltip
//
//## variables for Tooltip

$tooltip-line-height: 12px;
$tooltip-font-size: 11px;
$tooltip-padding-top-bottom: 7px;
$tooltip-padding-left-right: 10px;
$tooltip-z-index: 1000;
$tooltip-default-top: 15px;
$tooltip-default-left: 25px;
