//== Tooltip
//
//## variables for Tooltip

$tooltip-line-height: 12px;
$tooltip-font-size: 11px;
$tooltip-padding-vertical: 7px;
$tooltip-padding-horizontal: 10px;
$tooltip-z-index: $layer-overlays;
