
//== Panel
//
//## styles for Panel

.daptiv-slider {
    .daptiv-side-bar {
        background: $color-primary-dark-shadow;
        border: 1px $color-primary-dark-shadow;
        overflow: hidden;
        width: $side-bar-width;

        .daptiv-side-menu {
            width: $side-bar-width;
        }
    }

    .initial {
        .daptiv-side-bar {
            width: 0;
        }
    }

    .open {
        .daptiv-side-bar {
            display: block;
            transition: width ease-out $side-bar-toggle-speed;
            width: $side-bar-width;
        }
    }

    .closed {
        .daptiv-side-bar {
            display: block;
            transition: width ease-out $side-bar-toggle-speed;
            width: 0;
        }
    }
}
