//== Colors
//
//## Primary colors, gray colors, typography colors

// Primary palette
$color-primary-dark: #1c427b;
$color-primary-medium: #2e6fb1;
$color-primary-medium-light: #0085cf;
$color-primary-light: #86b5e1;

// Secondary palette
$color-secondary-medium: #dfa13c;
$color-secondary-light: #f3d8a2;

// Base palette
$color-base-100: #000;
$color-base-90: #333;
$color-base-80: #666;
$color-base-60: #b3b3b3;
$color-base-50: #ccc;
$color-base-40: #ddd;
$color-base-30: #eee;
$color-base-20: #f5f5f5;
$color-base-0: #fff;

// Typography palette
$color-text-dark: $color-base-90;
$color-text-medium: $color-base-80;
$color-text-light: $color-base-60;
$color-text-white: $color-base-0;
$color-text-default: $color-text-dark;
$color-text-disabled: $color-text-light;

$color-text-accent-dark: $color-primary-medium;
$color-text-accent-medium: $color-primary-medium-light;
$color-text-accent-light: $color-primary-light;
