//== Side Menu
//
$side-menu-top-margin: 15px;
$side-menu-item-vertical-padding: 8px;
$side-menu-item-horizontal-padding: 10px;

.daptiv-side-menu {
    font-size: 14px;
    margin-top: $side-menu-top-margin;
}

.daptiv-side-menu-item {
    background-color: $color-light-gray;
    color: $color-black;
    display: block;
    padding: $side-menu-item-vertical-padding $side-menu-item-horizontal-padding;

    &:hover {
        text-decoration: underline;
    }

    &.selected {
        background-color: $color-medium-blue;
    }
}

