//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Arial", Arial, Helvetica, sans-serif;
$font-family-base:        $font-family-sans-serif;

$font-size-base:   12px;
$font-size-normal: $font-size-base;
$font-size-large:  14px;
$font-size-larger: 16px;
