/* border */
$border-width-base: 1px;
$border-width-thick: $border-width-base * 2;

/* whitespace units */
$standard-whitespace-unit: 8px;
$half-whitespace-unit: $standard-whitespace-unit / 2;

/* layout */
$standard-gutter-width: 10px;
