@import "typography.scss";
@import "colors.scss";

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    color: $color-black;
    margin: 0;
}

form {
  margin: 0;
}

html {
  height: 99.5%;
}
