@import 'typography';
@import 'colors';

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    border: 0;
    color: $color-black;
    font-family: $font-family-base;
    font-size: $font-size-base;
    margin: 0;
    min-height: 100%;
    padding: 0;
}

form {
    margin: 0;
}

html {
    height: 100%;
}
