//== Colors
//
//## Primary colors, gray colors, typography colors

//Primary Colors
$color-dark-blue: #027DD1;
$color-medium-dark-blue: #00B4FF;
$color-medium-blue: #9ADBF8;
$color-medium-light-blue: #CCEBFB;
$color-light-blue: #E9F6FD;

//Black and grayscale colors
$color-black: #333;
$color-dark-dark-gray: #666;
$color-dark-gray: #999;
$color-medium-dark-gray: #B4B4B4;
$color-medium-gray: #CCC;
$color-medium-light-gray: #DDD;
$color-light-medium-gray: #EFEFEF;
$color-light-gray: #F5F5F5;
$color-white: #FFF;

//Typography colors
$color-text-white: $color-white;
$color-text-medium-blue: $color-medium-blue;
$color-text-medium-dark-blue: $color-medium-dark-blue;
$color-text-black: $color-black;
