@import "colors.scss";
@import "typography.scss";

$daptiv-nav-bg: $color-dark-blue;
$daptiv-nav-tab-selected-bg: $color-medium-dark-blue;
$daptiv-nav-height: 38px;
$daptiv-nav-font-family: $font-family-base;
$daptiv-nav-font-size: 13px;
$daptiv-nav-font-color: $color-text-white;
$daptiv-nav-font-color-hover: $color-text-medium-blue;
$daptiv-nav-tab-h-pad: 14px;

.daptiv-nav {
    background: $daptiv-nav-bg;
    height: $daptiv-nav-height;
    line-height: $daptiv-nav-height;
    font-size: $daptiv-nav-font-size;
    font-family: $daptiv-nav-font-family;

    .daptiv-nav-tab {
        display: inline-block;
        padding: 0 $daptiv-nav-tab-h-pad;
        color: $daptiv-nav-font-color;
        text-decoration: none;
        cursor:default;

        &:not(.selected):hover {
            color: $daptiv-nav-font-color-hover;
        }
        &.selected {
            background: $daptiv-nav-tab-selected-bg;
        }
    }
}
