@import 'font-awesome/scss/font-awesome';
@import 'colors';
@import 'typography';
@import 'variables';

$daptiv-nav-bg: $color-dark-blue;
$daptiv-nav-tab-selected-bg: $color-medium-dark-blue;
$daptiv-nav-height: 38px;
$daptiv-nav-font-size: 14px;
$daptiv-nav-font-color: $color-text-white;
$daptiv-nav-font-color-hover: $color-text-medium-blue;
$daptiv-nav-tab-h-pad: 14px;

$daptiv-nav-menuitem-height: 28px;
$daptiv-nav-menuitem-min-width: 150px;
$daptiv-nav-menuitem-max-width: 300px;

$daptiv-subnav-bg: $color-white;
$daptiv-subnav-tab-selected: $color-medium-dark-blue;
$daptiv-subnav-height: $daptiv-nav-height + 2px;
$daptiv-subnav-font-size: 12px;
$daptiv-subnav-font-color: $color-dark-blue;
$daptiv-subnav-font-color-hover: $color-text-medium-blue;
$daptiv-subnav-tab-h-pad: 14px;

/*
    Main Navigation tab
*/
.daptiv-nav {
    background: $daptiv-nav-bg;
    font-family: $font-family-base;
    font-size: $daptiv-nav-font-size;
    height: $daptiv-nav-height;
    line-height: $daptiv-nav-height;
    width: 100%;

    .daptiv-nav-tab {
        color: $daptiv-nav-font-color;
        display: inline-block;
        padding: 0 $daptiv-nav-tab-h-pad;
        text-decoration: none;

        & > * {
            vertical-align: middle;
        }

        &:not(.selected):hover {
            color: $daptiv-nav-font-color-hover;
        }

        &.selected {
            background: $daptiv-nav-tab-selected-bg;
        }
    }

    .daptiv-nav-menu-tab {
        @extend .daptiv-nav-tab;

        &::after {
            @extend .fa;

            content: $fa-var-caret-down;
            font-size: $icon-size-small;
            margin-left: $half-whitespace-unit;
        }
    }
}

.daptiv-nav-menu-dropdown {
    background: $color-medium-light-gray;
    display: inline-block;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $daptiv-nav-menuitem-height;

    .daptiv-nav-menuitem-base {
        color: $color-black;
        display: block;
        margin: $border-width-base;
        max-width: $daptiv-nav-menuitem-max-width;
        min-width: $daptiv-nav-menuitem-min-width;
        overflow: hidden;
        padding-left: $standard-whitespace-unit;
        padding-right: $standard-whitespace-unit;
        text-decoration: none;
        text-overflow: ellipsis;

        &:not(.selected):hover {
            background: $color-light-blue;
            color: $color-black;
        }

        &.selected {
            color: $color-medium-dark-blue;
        }
    }

    .daptiv-nav-menuitem {
        @extend .daptiv-nav-menuitem-base;
        background: $color-white;

        &.selected {
            background: $color-white;
        }
    }

    .daptiv-nav-menuitem-alternate {
        @extend .daptiv-nav-menuitem-base;
        background: $color-light-medium-gray;

        &.selected {
            background: $color-light-medium-gray;
        }
    }
}

/*
    Sub Navigation tab
*/
.daptiv-subnav {
    background: $daptiv-subnav-bg;
    font-family: $font-family-base;
    font-size: $daptiv-subnav-font-size;
    height: $daptiv-subnav-height;
    line-height: $daptiv-subnav-height;
    width: 100%;

    .daptiv-subnav-tab {
        color: $daptiv-subnav-font-color;
        cursor: pointer;
        padding: 0 $daptiv-subnav-tab-h-pad;
        text-decoration: none;

        & > * {
            vertical-align: middle;
        }

        &:not(.selected):hover {
            color: $daptiv-subnav-font-color-hover;
        }

        &.selected {
            color: $daptiv-subnav-tab-selected;
        }
    }

    .daptiv-subnav-tab.disabled {
        color: $daptiv-subnav-font-color;
        cursor: default;

        &:hover {
            color: $daptiv-subnav-font-color;
        }
    }

    .daptiv-subnav-menu-tab {
        @extend .daptiv-subnav-tab;

        &::after {
            @extend .fa;

            content: $fa-var-caret-down;
            font-size: $icon-size-small;
            margin-left: $half-whitespace-unit;
        }
    }
}

.daptiv-subnav-menu-dropdown {
    @extend .daptiv-nav-menu-dropdown;

    .daptiv-subnav-menuitem {
        @extend .daptiv-nav-menuitem;
    }
}
